{% extends 'base.html' %}

{% block content %}

<div class="container">

  <!-- page header -->
  <section class="text-center container">
    <div class="row py-sm-5">
      <div class="col-sm-12  mx-auto">
        <h1 class="display-2">{% block title %}Constructor Standings{% endblock %}</h1>
      </div>
    </div>
  </section>
  <!-- end header - could be put in base if all similar? -->

  <!-- form and user interaction block-->
  <form method="post" class="row">
      <div class="col-md-5 text-center">
        <label for="season_year" class="h2">Season Year</label>
        <select id="seasonYearDD" name="season_year" class="dropdown form-select form-select-lg mb-3">
          <option selected="true">{{ pass_data.season_year }}</option>
        </select>
      </div>
      <div class="col-md-5 text-center">
        <label for="round_no" class="h2 text-muted">Round Number</label>
        <select id="roundNoDD" name="round_no" class="dropdown form-select form-select-lg mb-3">
          <option selected="true">{{ pass_data.round_no }}</option>
        </select>
      </div>
      <div class="col-md-2 align-self-center text-center">
        <input type="submit" value="Submit" class="btn-lg btn-primary">
      </div>
  </form>
  <!-- end form block -->

  <!-- render table -->
  <div class="row mt-4">
    <!-- TODO: work with the df being loaded into bootstrap, instead of !important? -->
    {% for table in tables %}
      {{ table|safe }}
    {% endfor %}
  </div>
  <!-- end render table -->

</div>

  <script src="{{ url_for('static', filename='js/round_quantites.json') }}"></script>
  <script src="{{ url_for('static', filename='js/populate_sy_rn.js') }}"></script>

{% endblock %}
