{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Constructor Standings{% endblock %}</h1>
{% endblock %}

{% block content %}

  <form method="post">
    <label for="season_year">Season Year</label>
    <select id="seasonYearDD" name="season_year" class="dropdown">
      <option selected="true" disabled>{{ pass_data.season_year }}</option>
    </select>
    <label for="round_no">Round Number</label>
    <select id="roundNoDD" name="round_no" class="dropdown">
      <option selected="true" disabled>{{ pass_data.round_no }}</option>
    </select>

    <input type="submit" value="Submit">
  </form>

  TABLE BELOW:

  <div>
    {% for table in tables %}
      {{ table|safe }}
    {% endfor %}
  </div>

  <script src="{{ url_for('static', filename='js/round_quantites.json') }}"></script>
  <script src="{{ url_for('static', filename='js/populate_sy_rn.js') }}"></script>

{% endblock %}
