.f1-color-red {
  color: #FF1E00 !important;
}

th {
  text-align: center !important;
}

tr {
  border: 1px solid #f2f2f2 !important;
}

td {
  text-align: center;
}

.dataframe {
  border-radius: 10px;
  background-color: white;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.2));
  border: 0px !important;
}
